<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Office.js" version="1.1.0.9" targetFramework="net45" />
  <package id="SecureDefaults.AspNet" version="1.0.0" targetFramework="net45" />
  <package id="SecureDefaults.AspNet.Ssl" version="1.0.0" targetFramework="net45" />
</packages>